@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');

:root {
  --color-primary: #3cbe18;
  --color-primary-deeper: #1f7208;
  --color-secondary: #f37c1a;
  --color-secondary-deeper: #ac5106;

  --color-textgrey: #666;
  --color-deepgreen: #134605;

  --font-inter: 'Inter', sans-serif;
  --font-space: 'Space Grotesk', sans-serif;

  --fontsize-medium: 16px;
  --fontsize-small: 14px;
  --fontsize-large: 20px;

  --fontweight-medium: 500;
  --fontweight-small: 400;
  --fontweight-large: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: var(--font-space); */
}

main {
  position: relative;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

a,
a:hover {
  text-decoration: none !important;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-space);
  font-weight: 600;
}

* {
  font-family: var(--font-space);
}

/* Utility Classes */
.text-right {
  text-align: right;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1240px !important;
  margin: 0 auto;
}

@media (max-width: 1300px) {
  .container {
    max-width: 975px !important;
  }
}

@media (max-width: 990px) {
  .container {
    max-width: 760px !important;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 480px !important;
  }
}

@media (max-width: 380px) {
  .container {
    max-width: 335px !important;
  }
}

/* Button */
.primary-btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  background: var(--color-primary);
  color: #fff;
  transition: .3s;
  text-transform: uppercase;
  font-weight: var(--fontweight-large);
}

.primary-btn:hover {
  background: #fff;
  color: var(--color-primary);
}



/* Navtip */
.navtip {
  border-bottom: 1px solid #ddd;
}

.navtip .navinfo,
.navtip .officeinfo {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-right: 15px;
  font-family: var(--font-space);
  font-size: var(--fontsize-small);
  font-weight: var(--fontweight-medium);
}

.navtip .navinfo.two {
  padding-left: 15px;
  border-left: 1px solid #ddd;
}

.navtip .navinfo .navicon,
.navtip .officeinfo .navicon {
  font-size: 22px;
  color: var(--color-primary);
  margin-right: 5px;
}

.navtip .officeinfo {
  color: var(--color-textgrey);
}

.navtip .icons {
  margin-left: 5px;
}

.navtip .icons .icon {
  background: var(--color-primary);
  padding: 8px 10px;
  color: #fff;
  margin: 0 2px;
  border-radius: 4px;
  transition: .3s;
}

.navtip .icons .icon:hover {
  background: var(--color-primary-deeper);
}

@media (max-width: 1300px) {

  .navtip .navinfo,
  .navtip .officeinfo {
    font-size: 12px;
    padding-right: 10px;
  }

  .navtip .navinfo.two {
    padding-left: 10px;
  }
}

@media (max-width: 990px) {
  .navtip {
    display: none;
  }
}

/* Navbar CSS */
.navbar {
  background: #fff;
  padding: 5px 0 !important;
  border-bottom: 1px solid #ddd;
  position: sticky !important;
  top: 0px;
  z-index: 10;
  box-shadow: 0 .2rem .7rem rgba(0, 0, 0, 0.13);
}
.brand-img {
  width: 65px;
  margin: 0;
  padding: 0;
}
.navbar .nav-link {
  text-transform: uppercase;
  letter-spacing: .5px;
  font-family: var(--font-space);
  font-size: var(--fontsize-small);
  font-weight: var(--fontweight-large);
  padding: 0 10px !important;
  transition: .3s;
  color: #333;
}

.navbar .nav-link:hover {
  color: var(--color-primary);
}

@media (max-width: 990px) {
  .navbar {
    padding: 10px 0 !important;
  }
}

/* Section Hero */
.section-hero {
  background: linear-gradient(to bottom, rgba(5, 88, 23, 0.514), rgba(4, 109, 30, 0.452)), url('/images/hero.jpg');
  background-size: cover;
  /* background-position: center center; */
  font-family: var(--font-space);
  padding: 4rem 0;
}

#cursor {
  border-left: .1em solid #00FF41;
  animation: blink .7s steps(1) infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.section-hero .form-box {
  background: #fff;
  width: 480px;
  margin: 0;
  margin-left: auto;
  text-align: center;
  padding: 4rem 2rem 4rem;
  border-radius: 12px;
  position: relative;
  z-index: 2;
}

.section-hero .form-box::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 4%;
  left: -3%;
  background: rgba(255, 255, 255, 0.514);
  width: 100%;
  height: 100%;
  border-radius: 12px;
  z-index: -1;
}

.section-hero .hero-text {
  color: #fff;
}

.section-hero .hero-text h1 {
  font-size: 3.5rem;
  margin: 1rem 0;
}

.section-hero .hero-text p {
  font-size: var(--fontsize-medium);
}

.section-hero .form-box .form-group {
  margin-top: 3rem;
}

.section-hero .form-box input,
.section-hero .form-box textarea {
  margin: 15px 0;
  border-radius: 0;
  padding: 0;
  padding-bottom: .7rem;
  border: 0;
  border-bottom: 1px solid #ddd;
  resize: none;
}

.section-hero .form-box input:focus {
  outline: none !important;
  border-bottom: 1px solid var(--color-primary);
}

.section-hero .form-box .submit-btn {
  width: 100%;
  margin: 0;
  margin-top: .5rem;
  padding: .8rem 1rem;
  background: var(--color-primary);
  border-radius: 24px;
  color: #fff;
  transition: .3s;
}

.section-hero .form-box .submit-btn:hover {
  background: var(--color-primary-deeper);
}

.section-hero .form-box p {
  font-size: var(--fontsize-small);
  color: var(--color-textgrey);
}

@media (max-width: 990px) {
  .section-hero .form-box {
    width: 400px;
  }

  .section-hero .hero-text h1 {
    font-size: 2.5rem;
    margin: .5rem 0;
  }

  .section-hero .hero-text p {
    font-size: var(--fontsize-small);
  }

  .section-hero .hero-text h5 {
    font-size: var(--fontsize-medium);
  }
}

@media (max-width: 839px) {
  .section-hero .form-box {
    width: 350px;
  }
}

@media (max-width: 767px) {
  .section-hero .hero-text {
    text-align: center;
    margin-bottom: 2rem;
  }

  .section-hero {
    background-position: left center;
  }

  .section-hero .form-box {
    width: 100%;
  }

  .section-hero .form-box::after {
    display: none;
  }

  .section-hero .hero-text h1 {
    font-size: 2rem;
  }
}

@media (max-width: 380px) {
  .section-hero .form-box {
    width: 100%;
    padding: 3rem 1rem 3rem;
  }
}

/* Section About */
.section-about {
  padding: 5rem 0;
}

.section-about .img-box {
  margin: 0 auto;
}

.section-about .img-box img {
  object-fit: cover;
  width: 90%;
  height: 500px;
  border-radius: 8px;
}

.section-about .tag {
  font-size: var(--fontsize-medium);
  font-weight: var(--fontweight-large);
  color: var(--color-primary);
  text-transform: uppercase;
}


/* Loading icon */

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.service-btnicon {
  color: var(--color-textgrey);
  font-weight: 600;
  padding: .4rem .65rem;
  border: 1px solid var(--color-textgrey);
  border-radius: 50%;
  margin-right: 10px;
  transition: .3s;
}

.text-btn {
  text-transform: uppercase;
  color: var(--color-primary);
  font-weight: var(--fontweight-large);
  font-size: var(--fontsize-small);
  padding: .5rem 0;
  border-bottom: 1px solid var(--color-primary);
  transition: .3s;
}

.text-cta:hover .text-btn {
  color: var(--color-primary-deeper);
}

@media (max-width: 990px) {
  .section-about .img-box img {
    width: 100%;
    height: 400px;
  }
}

@media (max-width: 767px) {
  .section-about {
    padding: 3rem 0;
  }

  .section-about .tag {
    font-size: var(--fontsize-small);
    margin-top: 1rem;
  }

  .section-about h1 {
    font-size: 1.5rem;
  }

  .section-about p {
    font-size: .9rem;
  }
}

/* Section Service */
.section-service {
  padding: 4rem 0;
  text-align: center;
  background: url('/images/blurry.png');
  background-size: cover;
  background-position: top center;
}

.section-service .tag {
  font-size: var(--fontsize-small);
  font-weight: var(--fontweight-large);
  text-transform: uppercase;
  color: var(--color-primary);
}

.section-service .title {
  color: var(--color-deepgreen);
  width: 45%;
  margin: 0 auto;
}

.section-service .services {
  margin-top: 5rem;
}

.service-box {
  padding: 2rem 1.5rem;
  background: #fff;
  box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.13);
  text-align: left;
  margin: .5rem 0;
}

.service-box .service-title .service-icon {
  font-size: 3.5rem;
  color: var(--color-primary);
  margin-right: 20px;
}

.service-box .service-title .title {
  font-size: var(--fontsize-large);
  font-weight: var(--fontweight-large);
  color: var(--color-primary);
}

.service-box .service-content {
  margin-top: 2rem;
}

.service-content p {
  color: var(--color-textgrey);
  font-size: var(--fontsize-small);
}

@media (max-width: 990px) {
  .service-box .service-title .service-icon {
    font-size: 2rem;
  }

  .service-box .service-title .title {
    font-size: var(--fontsize-medium);
  }

  .service-content p {
    font-size: 12px;
  }

  .section-service .title {
    width: 70%;
  }
}

@media (max-width: 380px) {
  .section-service .title {
    width: 90%;
  }
}

/* Section Fixed Bg */
.section-fixedbg {
  padding: 5rem 0;
  background: linear-gradient(to right bottom, #185f04a9, #12460496), url('/images/teambg.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.section-fixedbg .title {
  font-size: 2rem;
  font-weight: var(--fontweight-large);
}

.section-fixedbg .content {
  margin: 1rem 0;
}

.section-fixedbg .stat {
  margin-right: 20px;
}

.section-fixedbg .stat h1 {
  font-size: 1.8rem;
  font-weight: var(--fontweight-large);
}

.section-fixedbg .stat p {
  font-size: var(--fontsize-small);
}

@media (max-width: 380px) {
  .section-fixedbg .title {
    font-size: 1.4rem;
  }

  .section-fixedbg .content {
    font-size: 12px;
  }
}

/* Section cards */
.section-cards {
  padding: 2rem 0;
}

.section-cards .card-1 {
  background: rgb(250, 86, 114);
  color: #fff;
}

.section-cards .card-2 {
  background: var(--color-primary-deeper);
  color: #fff;
}

.section-cards .cards {
  padding: 1.5rem 1rem;
  border-radius: 8px;
  margin: .5rem 0;
}

.section-cards .cards .text h1 {
  font-size: 1.7rem;
}

.section-cards .cards .text p {
  font-size: var(--fontsize-small);
}

.section-cards .cards .image {
  width: 45%;
}

@media (max-width: 460px) {
  .section-cards .cards {
    display: flex;
    flex-direction: column !important;
  }
}

/* Section Projects */
.section-projects {
  padding: 4rem 0;
  text-align: center;
}

.section-projects .tag {
  font-size: var(--fontsize-small);
  font-weight: var(--fontweight-large);
  text-transform: uppercase;
  color: var(--color-primary);
}

.section-projects .title {
  color: var(--color-deepgreen);
  width: 45%;
  margin: 0 auto;
}

.project {
  height: 400px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin: .5rem 0;
}

.project .project-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: .4s;
}

.project:hover .project-img {
  transform: scale(1.2);
}

.project .project-details {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.014), rgba(0, 0, 0, 0.808));
}

.project .project-details .tag {
  background: var(--color-primary);
  color: #fff;
  padding: .5rem 1rem;
  border-radius: 4px;
  align-self: baseline;
}

.project .project-details .info h1 {
  color: #fff;
  font-size: 1.7rem;
}

.project .project-details p {
  color: var(--color-primary);
}

@media (max-width: 767px) {
  .project {
    height: 320px;
  }

  .section-projects .title {
    width: 70%;
  }
}

@media (max-width: 380px) {
  .section-projects .title {
    width: 90%;
  }
}

/* Section Team */
.section-team {
  padding: 5rem 0;
  text-align: center;
  background: rgb(224, 241, 224);
}

.section-team .tag {
  font-size: var(--fontsize-small);
  font-weight: var(--fontweight-large);
  text-transform: uppercase;
  color: var(--color-primary);
}

.section-team .title {
  color: var(--color-deepgreen);
  width: 45%;
  margin: 0 auto;
}

.section-team .members {
  margin-top: 3rem;
}

.section-team .member {
  position: relative;
}

.section-team .member .mem-img {
  width: 100%;
  height: 420px;
}

.section-team .member .mem-img img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 8px;
}

.section-team .member .mem-info {
  margin-top: 1rem;
}

.section-team .member .mem-info h3 {
  font-size: 1.4rem;
  color: var(--color-deepgreen);
}

.section-team .member .mem-info p {
  color: var(--color-textgrey);
}

.section-team .shrink {
  width: 90%;
  margin: 0 auto;
}

.member .mem-media {
  background: #fff;
  padding: .1rem .3rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 45%;
  right: -25px;
  border-radius: 8px;
  box-shadow: 0 .3rem .8rem rgba(0, 0, 0, .3);
}

.member .mem-media .icon {
  margin: .2rem .1rem;
  padding: .6rem .8rem;
  color: var(--color-primary-deeper);
  border-radius: 8px;
  transition: .3s;
  display: inline-block;
}

.member .mem-media .icon.active {
  background: var(--color-primary-deeper);
  color: #fff;
}

.member .mem-media .icon:hover {
  background: var(--color-primary-deeper);
  color: #fff;
}

@media (max-width: 990px) {

  .section-team .title {
    width: 70%;
  }

  .section-team .member .mem-img {
    height: 380px;
  }

  .section-team .member .mem-img img {
    height: 380px;
  }
}

@media (max-width: 767px) {
  .member .mem-media {
    flex-direction: row;
    top: 72%;
    right: 35%;
  }
}

@media (max-width: 380px) {
  .section-team .title {
    width: 90%;
  }
}

/* Section COntact */
.section-contact {
  padding: 4rem 0;
}

.section-contact .tag {
  font-size: var(--fontsize-small);
  font-weight: var(--fontweight-large);
  text-transform: uppercase;
  color: var(--color-primary);
}

.section-contact .title {
  color: var(--color-deepgreen);
  font-size: 1.7rem;
  width: 80%;
}

.section-contact form {
  margin: 2rem 0;
}

.section-contact label {
  margin: .5rem;
}

.section-contact .form-control {
  padding: .5rem 1rem;
  margin-bottom: .5rem;
}

.section-contact textarea {
  height: 150px;
  resize: none;
}

.section-contact .contact-btn {
  margin-top: 1rem;
  padding: 1rem 2.4rem;
  background: var(--color-primary);
  border-radius: 28px;
  border: none;
  color: #fff;
  transition: .3s;
  font-weight: var(--fontweight-large);
}

.section-contact .contact-btn:hover {
  background: var(--color-primary-deeper);
}

.section-contact .contact-info {
  width: 85%;
  margin: 0 auto;
  padding: 4rem 3rem;
  background: #fff;
  box-shadow: 0 .4rem 1.5rem rgba(28, 197, 6, 0.356);
  border-radius: 8px;
}

.contact-info .contact-pair {
  margin: 1rem 0;
}

.contact-info .contact-pair {
  display: flex;
}

.contact-info .contact-pair .contact-icon {
  font-size: 2.5rem;
  color: var(--color-primary);
  margin-right: 1rem;
}

.contact-info .contact-pair h1 {
  font-size: 1.3rem;
  color: var(--color-primary-deeper);
  margin-bottom: 1rem;
}

.contact-pair p {
  color: var(--color-textgrey);
}

@media (max-width: 990px) {
  .section-contact .contact-info {
    width: 100%;
  }

  .contact-info .contact-pair .contact-icon {
    font-size: 1.8rem;
  }

  .contact-info .contact-pair h1 {
    font-size: 1rem;
  }
}

/* Footer */
footer {
  background: #000;
  color: #fff;
  padding: 4rem 0 0;
}

footer h3.title {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

footer ul {
  padding-left: 0;
}

footer ul li {
  list-style-type: none;
  padding-bottom: .5rem;
}

footer ul li a {
  color: #fff;
  transition: .3s;
}

footer ul li:hover a {
  color: var(--color-primary);
}

footer .lower-section {
  background: #333;
  margin-top: 2rem;
  padding: 2rem 0;
}

footer .lower-section h3 {
  font-size: 1.2rem;
}

footer .heart {
  color: red;
}

/* Other Hero */
.other-hero {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: linear-gradient(to bottom, rgba(15, 218, 92, 0.466), rgba(4, 100, 12, 0.438)), url('/images/otherbg.jpg');
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 767px) {
  .row.reverse {
    flex-direction: column-reverse;
  }
}